<h1>ng if</h1>
<h4 *ngIf="visible; else elseBlock1">Codevolution</h4>

<ng-template #elseBlock1>
  <h4>Name is hidden</h4>
</ng-template>

<div *ngIf="visible; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <h4>Codeevolution</h4>
</ng-template>
<ng-template #elseBlock>
  <h4>hidden</h4>
</ng-template>


<h1>ng switch</h1>

<div [ngSwitch]="color">
  <div [style.color]="'red'" *ngSwitchCase="'red'">You picked red</div>
  <div [style.color]="'blue'" *ngSwitchCase="'blue'">you picked blue</div>
  <div [style.color]="'green'" *ngSwitchCase="'green'">you picked green</div>
  <div [style.color]="'pink'" *ngSwitchDefault>Pick again</div>
</div>


<h1>
  ng for
</h1>

<div *ngFor="let color of colors; index as i; odd as o">
  <h4>{{i}} {{color}} {{o}}</h4>
</div>

<br>

<div *ngFor="let color of colors; index as i; odd as o">
  <h4 *ngIf="o===true; else elseBlock2">{{i}} {{color}} number is odd</h4>
  <ng-template #elseBlock2>
    <h4>{{i}} {{color}} number is even</h4>
  </ng-template>
</div>


